IMMICH_HUB_API_KEY=your_api_key
IMMICH_API_URL=http://192.168.1.**:2283/api
PORT=2284
SLIDE_INTERVAL=30000
CHROMECAST_IP=192.168.1.**
CAST_URL=http://192.168.1.**:2284

START_HOUR=7
END_HOUR=22

NODE_ENV=development