IMMICH_API_KEY=your_api_key
IMMICH_API_URL=http://192.168.1.**:2283/api
IMMICH_OWNERS_API_KEYS=user_uuid=user_api_key,user2_uuid=user2_api_key
PORT=2284
SLIDE_INTERVAL=30000
CHROMECAST_IP=192.168.1.**
CAST_URL=http://192.168.1.**:2284

START_HOUR=7
END_HOUR=22

NODE_ENV=development

WEATHER_ENABLED=true
WEATHER_REFRESH_INTERVAL=60000
IQAIR_CITY_ID=123123
